ion-content {
    --border-radius: 16px;
    --padding-top: 16px;
    border-radius: var(--border-radius);

    ion-list {
        margin-bottom: 16px;
        background-color: var(--background);


        ion-item-sliding {
            &:first-of-type {
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
            }

            &:last-child {
                ion-item {
                    --inner-border-width: 0;
                }
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
            }

            ion-thumbnail {
                margin-right: 16px;
            }
        }
    }
}

ion-footer {
    background: #fff;
    box-shadow: 0 5px 12px #555;
    border-radius: 16px 16px 0 0;
}

ion-slides {
    height: 100%;
}