<ion-header>
  <ion-toolbar>
    <ion-title>Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>New This Week</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>
    <ion-item *ngFor="let day of [ 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' ]">
      <ion-avatar slot="start">
        <img [src]="image" />
      </ion-avatar>
      <ion-label>{{ day }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
