<ion-header>
  <ion-toolbar>
    <ion-title>Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ data.list_header }}</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>
    
    <ion-item-sliding *ngFor="let form of data.list;">
      <ion-item button (click)="openOrderformPage(form)">
        <div class="icon icon-success me" style="margin: 8px 8px 8px 0;" [attr.name]="form.week_day[0]"></div>
        <ion-label>
          <div style="display: flex; justify-content: space-between">
            <h2 style="font-weight: 500;">{{ form.week_day }}</h2>
            <span>{{ form.status }}</span>
          </div>
        </ion-label>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option (click)="delete(form.id)" color="danger">
          <ion-icon name="trash" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab *ngIf="!data.isOrdered" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="newForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>